@model List<Product>
@{ var banner = Model.FirstOrDefault(x => x.Name.Equals("Hogwarts Legacy"));
    var photo = banner.Photos.FirstOrDefault(x => x.main);
}
<!-- Banner -->
<section class="youplay-banner banner-top youplay-banner-parallax">
    <div class="image" style="background-image: url('@photo.Path')">
    </div>

    <div class="info">
        <div>
            <div class="container">
                <h1>@banner.Name</h1>
                <em>@banner.Description</em>
                <br>
                <br>
                <br>
                <a class="btn btn-lg" href="/products/ProductDetails/@banner.Id">Purchase</a>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->
<!-- Images With Text -->
<div class="youplay-carousel" data-autoplay="5000">

    @foreach (var game in Model)
    {
        <a class="angled-img" href="/products/ProductDetails/@game.Id">
            @foreach (var image in game.Photos)
            {

                @if (image.main)
                {
                    <div class="img">
                        <img src="@image.Path" alt="">
                    </div>
                }
            }
            <div class="over-info">
                <div>
                    <div>
                        <h4>@game.Name</h4>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<!-- /Images With Text -->
<!-- Action -->
<h2 class="container h1">Action <a href="/products/store?category=action" class="btn pull-right">See More</a></h2>
<div class="youplay-carousel">

    @foreach (var game in Model.Where(x=>x.Category == "action"))
    {
        <a class="angled-img" href="/products/ProductDetails/@game.Id">
            @foreach (var image in game.Photos)
            {

                @if (image.main)
                {
                    <div class="img">
                        <img src="@image.Path" alt="">
                    </div>
                }
            }
            <div class="over-info">
                <div>
                    <div>
                        <h4>@game.Name</h4>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<!-- /Popular -->
<!-- Indie -->
<h2 class="container h1">Indie <a href="/products/store?category=action" class="btn pull-right">See More</a></h2>
<div class="youplay-carousel">

    @foreach (var game in Model.Where(x => x.Category == "indie"))
        {
        <a class="angled-img" href="/products/ProductDetails/@game.Id">
            @foreach (var image in game.Photos)
            {

                @if (image.main)
                {
                    <div class="img">
                        <img src="@image.Path" alt="">
                    </div>
                }
            }
            <div class="over-info">
                <div>
                    <div>
                        <h4>@game.Name</h4>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<!-- /Specials -->
<!-- Preorder -->
<div class="h2"></div>
<section class="youplay-banner youplay-banner-parallax small">
    <div class="image" style="background-image: url('koala/images/banner-witcher-3.jpg');">
    </div>

    <div class="info container align-center">
        <div>
            <h2>Fine Del Corso<br></h2>

            <!-- See countdown init in bottom of the page -->
            <div class="countdown h2" data-end="2023/05/26"></div>

            <br>
            <br>
            <a class="btn btn-lg" href="#!">Pre-Order</a>
        </div>
    </div>
</section>
<!-- /Preorder -->
<!-- Features -->
<h2 class="container h1">Why Buy from Us</h2>
<section class="youplay-features container">
    <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="#">
            <i class="fa fa-cc-visa"></i>
            <h3>Payment</h3>
            <small>More than 10 payment systems</small>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
            <i class="fa fa-gamepad"></i>
            <h3>Games</h3>
            <small>A large number of games</small>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
            <i class="fa fa-money"></i>
            <h3>Cheap</h3>
            <small>Lowest prices on the Internet</small>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
            <i class="fa fa-users"></i>
            <h3>Community</h3>
            <small>The largest gaming community</small>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="youplay-footer-parallax">
    <div class="wrapper" style="background-image: url('koala/images/footer-bg.jpg')">

        <!-- Social Buttons -->
        <div class="social">
            <div class="container">
                <h3>Connect socially with <strong>AVRG</strong></h3>

                <div class="social-icons">
                    <div class="social-icon">
                        <a href="#!">
                            <i class="fa fa-facebook-square"></i>
                            <span>Like on Facebook</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="#!">
                            <i class="fa fa-twitter-square"></i>
                            <span>Follow on Twitter</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="#!">
                            <i class="fa fa-twitch"></i>
                            <span>Watch on Twitch</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="#!">
                            <i class="fa fa-youtube-square"></i>
                            <span>Watch on Youtube</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Social Buttons -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <strong>With ❤️ by Guli</strong>
            </div>
        </div>
        <!-- /Copyright -->

    </div>
</footer>
<!-- /Footer -->
<!-- /Main Content -->
